extends base.pug
include mixins/video

block content 
    form(method="GET").search__form
        input(placeholder="제목을 입력하세요",name="keyword", type="text")
        button
            i.fas.fa-search

    div.video-grid
        each video in videos 
            +video(video)
        else
            span.empty__message 텅! 비어있네요~!
        


