extends base.pug

block content
     //div
        video#preview
        button#startBtn 녹화 시작하기//
     if errorMessage 
        span=errorMessage
     form(method="POST", enctype="multipart/form-data")
        label(for="video") Video File
        input(type="file", accept="video/*", required, id="video", name="video")
        input(placeholder="제목", required, type="text", name="title", )
        input(placeholder="설명", required, type="text", name="description", )
        input(placeholder="해쉬태그, 쉼표를 사용하여 나눠주세요.", required, type="text", name="hashtags")
        input(type="submit", value="Upload Video")

block scripts
    script(src="/static/js/recorder.js")  